/*JETBRAINS MONO*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'RecursiveMonoLnrSt-Regular';
  src: url('../fonts/RecursiveMonoLnrSt-Regular.woff2') format('woff2'),
}

/* LAYOUT */

html {
  background-color: #11111b;
  scroll-behavior: smooth;
  scrollbar-width: auto;
  /* Can be "auto", "thin", or "none" */
  scrollbar-color: #FF206E #282A36;
  /* Thumb and track color */
}


/*==============NAVBAR=============*/

ul {
  list-style-position: inside;
}

ul li {
  margin: 15px 0 15px 0;
}

ul li li{
  margin-left: 24px;
}

a {
  text-decoration: none;
  font-family: 'RecursiveMonoLnrSt-Regular';
  color: #f8f8f8;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

.footer-github {
  padding-right: 5px;
}



.site-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100%;
  width: 80%;
  margin: auto;
  margin-top: 2em;
}


.sections a {
  text-decoration: none;
}


.sections {
  display: flex;
  gap: 20px;
}

.sections a:hover {
  color: #FF206E;
  font-weight: bold;
}


.title {
  margin-right: auto;
  color: #FF206E;
  font-size: 1.3em;
  font-weight:normal;
  font-style: italic;
}

.title a:hover {
  font-weight: bolder;
}


/*============================================*/

.index-content {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.index-title {
  font-family: 'RecursiveMonoLnrSt-Regular';
  color: #ff5555;
  text-align: center;
  margin-top: 2em;
}

.index-presentation {
  font-family: 'RecursiveMonoLnrSt-Regular';
  color: #f8f8f8;
  text-align: center;
  font-size: 1.2em;
  width: 50%;
  margin: auto;
  margin-top: 1em;
}

.index-posts-title {
  font-family: 'RecursiveMonoLnrSt-Regular';
  text-align: center;
  color: #9D65FF;
  margin-top: 2em;
}

.index-posts {
  font-family: 'RecursiveMonoLnrSt-Regular';
  text-align: center;
}

.index-posts a:hover {
  font-weight: bolder;
}

/*===============list.html=================*/

.list-title,
.post-snippet {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'RecursiveMonoLnrSt-Regular';


}

.post-snippet {
  margin-top: 0.5em;
}

.post-snippet a:hover {
  font-weight: bolder;
}


.list-title {
  margin-top: 2em;
  font-size: xx-large;
  color: #9D65FF;
}


/*single.html*/

.single-content {
  font-family: 'RecursiveMonoLnrSt-Regular';
  margin: auto;
  width: 50%;
  text-align: center;
  color: #F8F8F2;
}

.single-content-title {
  font-size: 2em;
  margin-top: 2em;
  color: #FF206E;
}

.single-content a {
  color: #50FA7B;
}

.single-content a:hover {
  font-weight: bolder;
}

pre {
  overflow-x: auto;
  margin: 24px 0 24px 0;
  padding: 1em;
  scrollbar-width: thin;
}


code {
  font-family: 'RecursiveMonoLnrSt-Regular';
  font-weight: bolder;
  overflow-x: auto;
}

:not(pre) > code {
  color: #FFE900;
}

/* Images */
img {
  border: 1px solid #BD93F9;
  max-width: 100%;
  margin: 10px 0 10px 0;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}


h2,
h3,
h4 {
  margin: 24px 0 24px 0;
}

h6 {
  color: #50FA7B;
  text-shadow: 0.5px 0.5px #50FA7B;
  font-size: 14px;
  margin: 24px 0 24px 0;
}

blockquote {
  border: 2px solid #50FA7B;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  font-style: italic;
  text-shadow: 0.5px 0.5px #F1FA8C;
  overflow-x: auto;
  margin: 24px 0 24px 0;
}

p {
  margin: 10px 0 10px 0;
}

/*404 PAGE*/

.not-found-title {
  text-align: center;
  margin-top: 1.1em;
  color: #FF5555;
  font-size: 100px;
  font-family: 'RecursiveMonoLnrSt-Regular';
  font-weight: bolder;
}

.not-found-description {
  margin-top: 0.5em;
  text-align: center;
  color: #FF5555;
  font-size: 40px;
  font-family: 'RecursiveMonoLnrSt-Regular'
}


.not-found-link {
  text-decoration: underline;
  color: #BD93F9;
  font-style: oblique;
  text-align: center;
  margin-top: 2em;
  font-size: larger;
}

.not-found-link a:hover {
  font-weight: bolder;
}

hr {
  margin: 24px 0 5px 0;
  color: #f9e2af;
}



/* Responsive section for small screen like mobile devices */

@media (width <= 900px) {
  
  .site-header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  nav .title {
    margin-right: 30px;
  }
  
  h2 {
    font-size: 24px;
  }


  .index-title {
    margin: 50px 10px 0 10px;
    font-size: 1.7em;
  }
  
  .index-presentation {
    width: 80%;
  }

  .single-content {
    width: 80%;
  }

  .not-found-title {
    font-size: 40px;
  }

  .not-found-description {
    font-size: 20px;
  }

  :not(pre) > code {
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
  }
}

@media (width <= 366px) {
    .sections a {
      margin-top: 10px;
    }
}
